
main div.main-con-about img{
    width: 100px;
}

main div.main-con-about div.sub-con-about div.owner{
    /* border: 2px solid rgb(175, 164, 164); */
    width: 600px;
    margin: 20px auto;
    background-color: rgb(245, 245, 245);
}

main div.main-con-about div.sub-con-about div.owner div{
   margin: auto;
   width: 200px;
   /* border: 2px solid red; */
}

main div.main-con-about div.sub-con-about div.owner div img{
    width: 100%;
    border-radius: 50%;
 }

 main div.main-con-about div.sub-con-about div.owner h2{
    text-align: center;
    font-size: 1.8rem;
  }

 main div.main-con-about div.sub-con-about div.owner p{
   text-align: justify;
   padding: 10px 15px;
   background-color: rgb(233, 233, 233);
   margin: 10px 0px;
 }

 main div.main-con-about div.sub-con-about div.partner{
   width: 600px;
   margin: 20px auto;
   background-color: rgb(245, 245, 245);
   /* border: 1px solid black; */
}

main div.main-con-about div.sub-con-about div.partner > div{
   display: flex;
}

main div.main-con-about div.sub-con-about div.partner > div > div{
   /* border: 1px solid rebeccapurple; */
   margin: 0px 10px;
 }

 main div.main-con-about div.sub-con-about div.partner > div > div h3{
    text-align: center;
    font-size: 1.1rem;
}

main div.main-con-about div.sub-con-about div.partner div.about-img-con{
    /* border: 1px solid pink; */
    margin: auto;
    width: 160px;
}

main div.main-con-about div.sub-con-about div.partner div.about-img-con img{
   border-radius: 50%;
   width: 100%;
}

main div.main-con-about div.sub-con-about div.partner p{
    text-align: justify;
    padding: 10px 5px;
    background-color: rgb(233, 233, 233);
    margin: 10px 0px;
 }
 
@media  screen and (max-width:650px) {

    main div.main-con-about div.sub-con-about div.owner{
        width: 95vw;
        box-sizing: border-box;
    }

    main div.main-con-about div.sub-con-about div.owner div{
       width: 60%;
     }

    main div.main-con-about div.sub-con-about div.partner{
      width: 95vw;
     }

    main div.main-con-about div.sub-con-about div.partner > div.partners{
       flex-direction: column;
       /* border: 4px solid olive; */
     }

     main div.main-con-about div.sub-con-about div.partner > div.partners > div{
       margin: 8px 0px;
      }

     main div.main-con-about div.sub-con-about div.partner div.about-img-con{
      margin: 0px;
      width: 150px;
    }

      main div.main-con-about div.sub-con-about div.partner > div > div h3{
        text-align: left;
    }
    
}