main div.burger-con{
    position: relative;
}

main div.burger-con img{
   width: 100%;
   opacity: 0.8;
}

main div.burger-con h2{
    position: absolute;
    bottom: 4%;
    left: 1%;
}

main div.main-con-dishes{
    padding: 40px 20px;
    /* border: 2px solid black; */
}

main div.main-con-dishes div.dish1{
   display: flex;
   justify-content: center;
   margin: 40px 0px;
   /* border: 1px solid red; */
}

main div.main-con-dishes div.dish1 div{
    width: 600px;
    padding: 40px 20px;
}

main div.main-con-dishes div.dish1 div h1, main div.main-con-dishes div.dish1 div h4{
   text-align: center;
   margin: 20px 0px;
}

main div.main-con-dishes div.dish1 div p{
    text-align: justify;
    margin: 15px 0px;
}

main div.main-con-dishes div.dish2 div{
    margin-right: 40px;
}

main div.contact-con{
    background-color: rgb(241, 241, 241);
 }

main div.contact-con div.sub-con{
    width: 1180px;
    /* background-color: rgb(241, 241, 241); */
    padding: 10px 0px;
    margin: 10px auto;
 }

 
main div.contact-con div.sub-con div :not(no){
     padding: 14px 0px;
     text-align: justify;
    }
    
main div.contact-con div.sub-con div h1{
    font-size: 3rem;
}
    
main div.contact-con div.sub-con form{
    padding: 0px 10px;
}

main div.contact-con form input{
    display: block;
    width: 100%;
    padding: 20px 6px;
    box-sizing: border-box;
    font-size: 1.1rem;
    margin: 15px 0px;
    border: none;
    border-bottom: 2px solid gray;
}

main div.contact-con form input[type="submit"]{
     width: 160px;
     border: none;
     border: 1px solid rgb(175, 172, 172);
     padding: 10px 2px;
}


@media screen and (max-width:1300px){
    main div.main-con-dishes div.dish1 img{
        width: 50vw;
     }

     main div.main-con-dishes div.dish1 div{
        width: 50vw;
        padding: 20px 14px;
    }
}

@media screen and (max-width:1250px){
    main div.contact-con div.sub-con{
       width: 95vw;
     }
}

@media screen and (max-width:850px){

    main div.burger-con h2{
       font-size: 1rem;
    }

    main div.main-con-dishes{
       display: flex;
       flex-direction: column;
       justify-content: center;
       align-items: center;
       margin: 0;
       padding: 0;
    }

    main div.main-con-dishes div.dish1{
        flex-direction: column;
        width: 95vw;
        margin: 10px 0px;
    }

    main div.main-con-dishes div.dish1 img{
        width: 100%;
     }

     main div.main-con-dishes div.dish1 div{
       width: 100%;
       margin: 0px;
       padding: 10px;
       box-sizing: border-box;

    }

    main div.contact-con div.sub-con div{
       padding: 0px 10px;
     }
}