main div.lunch-main-con{
    background-color: rgb(231, 231, 231);
}

main div.lunch-main-con h1{
    text-align: center;
    padding: 10px 4px;
}

main div.lunch-main-con div.lunch-sub-con{
    display: flex;
    box-sizing: border-box;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    padding: 40px 20px;
}

main div.lunch-main-con div.lunch-sub-con div{
  /* border: 2px solid black; */
  box-sizing: border-box;
  margin: 5px;
  background-color: rgb(249, 250, 251);
}

main div.lunch-main-con div.lunch-sub-con div img{
    width: 370px;
    height: 260px;

    object-fit: cover;
  }

main div.lunch-main-con div.lunch-sub-con div h2{
    text-align: center;
}

main div.lunch-main-con div.lunch-sub-con div p{
   font-size: 1.2rem;
   margin: 5px 0px;
   text-align: center;
}

@media screen and (max-width:850px){
    main div.lunch-main-con div.lunch-sub-con div h2{
        font-size: 1.2rem;
     }

    main div.lunch-main-con div.lunch-sub-con div p{
        font-size: 1rem;
     }
}

@media screen and (max-width:600px){

    main div.lunch-main-con div.lunch-sub-con{
        padding: 20px 10px;
    }

    main div.lunch-main-con div.lunch-sub-con div{
       width: 100vw;
      }

    main div.lunch-main-con div.lunch-sub-con div img{
        width: 100%;
        object-fit: cover;
        border-radius: 20px;
      }
    
    main div.lunch-main-con div.lunch-sub-con div h2{
        font-size: 1.5rem;
     }

    main div.lunch-main-con div.lunch-sub-con div p{
        font-size: 1.2rem;
     }
}