*{
    margin: 0;
    padding: 0;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    box-sizing: border-box;
}

nav{
    border-bottom: 1px solid gray;
    padding: 10px 30px;
}

nav div.phone-nav{
   display: none;
   margin: 8px 0px;
}

nav div.phone-nav p{
    cursor: pointer;
 }
 

nav span.main-heading h1{
    display: inline-block;
    font-size: 1.2rem;
    cursor: pointer;
}

nav ul.left-side-links{
    float: right;
}

nav a{
    text-decoration: none;
}

nav ul.left-side-links li.menu-btn{
    position: relative;
    display: inline-block;
}

nav ul.left-side-links li.menu-btn .bar{
    position: absolute;
    top: 100%;
    left: 10%;
    background-color: rgb(114, 14, 121);
    z-index: 1;
    width: 110px;
    list-style: none;

    visibility: hidden;
}

nav ul.left-side-links li.menu-btn .bar li{
    display: block;
    color: white;
    padding: 5px 2px;
    font-size: 1rem;
}

nav ul.left-side-links li.menu-btn:hover .bar{
    visibility: visible;
}


nav ul.left-side-links, nav ul.left-side-links li{
    display: inline;
    list-style: none;
}

nav ul.left-side-links li{
    cursor: pointer;
    padding: 0px 10px;
    margin: 0px 5px;
    font-size: 1.2rem;
    color: rgb(85, 83, 83);
}

nav div.phone-menues{
   display: none;
   overflow: hidden;
   height: 0px;
   box-sizing: border-box;

   transition: all 0.4s ease-in-out;
}

nav div.phone-menues ul{
   list-style: none;
   font-size: 1.2rem;
   border: 1px solid transparent;
}

nav div.phone-menues ul li.phone-menu-btn{
   position: relative;
   display: inline-block;   
   margin: 0px;
   /* border: 1px solid black; */
}

nav div.phone-menues ul li.phone-menu-btn ul.phone-bar{
   position: absolute;
   z-index: 2;
   top: 100%;
   left: 10%;
   width: 110px;
   background-color: aliceblue;
   visibility: hidden;
 }

nav div.phone-menues ul li.phone-menu-btn ul.phone-bar li{
    margin: 0;
    padding: 4px;
}

nav div.phone-menues ul li.phone-menu-btn:hover  ul.phone-bar{
   visibility: visible;
}

nav div.phone-menues ul li{
    margin: 14px 0px;
    cursor: pointer;
}

@media screen  and (max-width:600px){

    nav{
        padding: 10px;
    }

    nav div.phone-nav{
        display: block;
     }

     nav div.phone-menues{
        display: block;
     }

    nav span.main-heading, nav ul.left-side-links{
        display: none;
    }
}